.App {
  margin: auto;
  text-align: center;
  width: 25vw;
  height: 90vh;
  margin-top: 2vh;
}

a {
  text-decoration: none !important;
  color: #4A4E74;
}

a:hover {
  color: #5093E2;
  cursor: pointer;
}

.main.dark a {
  color: #FFFFFF;
}

.main.dark a:hover {
  color: #5093E2;
}

button:hover {
  cursor: pointer;
}

.buttons {
  justify-content: center;
  display: flex;
  gap: 8px;
}

.buttons > a > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  gap: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.center {
  display: flex;
  justify-content: 'center';
  align-items: 'center';
}

.description {
  overflow: hidden;;
}

.description > .section {
  width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
}

.description > .section > h3 {
  margin-bottom: 0;
  padding: 5px;
}

.email {
  background-color: #FFFFFF;
  border: 1px solid #D1D5DB;
  color: #374151;
}

.main.dark .email {
  border: 0px;
}

.footer {
  background-color: #D5D4D8;
  height: 64px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.footer.dark {
  background-color: #161619;
}

.footer > a {
  padding-top: 18px;
}

.footer > a > img {
  width: 25px;
  height: 25px;
  padding: 18px;
}

.footer > a > img:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
}

.header {
  height: auto;
  width: 100%;
}

.header > img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  display: block;
}

h2, h5 {
  margin: 0;
  padding: 10px;
}

.name {
  color: #2B283A;
  padding-top: 0px;
}

.main.dark .name {
  color: #FFFFFF !important;
}

.intro {
  padding-bottom: 20px;
}

.main {
  background-color: #F5F5F5;
  height: 399px;
  padding: 0px 35px 35px 35px;
  overflow: hidden;
}

.main.dark {
  background-color: #1A1B21;
}

.portfolio {
  background-color: #5093E2;
  border: 0px;
  color: white;
  padding: 8px;
}

.portfolio > img {
  width: 13px;
}

.title {
  color: #F47D27;
}

.main.dark .title {
  color: #F3BF99;
}

.toggler {
  display: flex;
  justify-content: flex-end;
  float: right;
  background-color: #F5F5F5;
  padding-top: 10px;
  width: 100%;
}

.toggler.dark {
  background-color: #1A1B21;
}

.togglerSlider {
  width: 25px;
  height: 13px;
  background-color: #1A1B21;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #1A1B21;
  box-sizing: content-box;
}

.dark .togglerSlider {
  border-color: white;
  background-color: #F5F5F5;
}

.togglerSliderCircle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

.dark .togglerSliderCircle {
  background-color: #1A1B21;
}

.dark .togglerSlider {
  justify-content: flex-end;
}

.section h3 {
  color: #2B283A;
}

.section small {
  color: #4A4E74;
}

.main.dark .section h3 {
  color: #F5F5F5;
}

.main.dark .section small {
  color: #DCDCDC;
}


