.App {
  margin: auto;
  color: #FFFFFF;
  text-align: center;
  width: 25vw;
  height: 90vh;
}

a {
  text-decoration: none !important;
  color: #FFFFFF;
}

a:hover {
  color: #5093E2;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.buttons {
  justify-content: center;
  display: flex;
  gap: 8px;
}

.buttons > a > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  gap: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.center {
  display: flex;
  justify-content: 'center';
  align-items: 'center';
}

.description > .section > h3 {
  margin-bottom: 0;
  padding: 5px;
}

.email {
  background-color: #FFFFFF;
  border: 0px;
  color: #374151;
}

.footer {
  background-color: #161619;
  height: 64px;
  border-radius: 0 0 10px 10px;
}

.footer > a {
  padding-top: 18px;
}

.footer > a > img {
  width: 25px;
  height: 25px;
  padding: 18px;
}

.footer > a > img:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
}

.header {
  height: auto;
  width: 100%;
}

.header > img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

h2, h5 {
  margin: 0;
  padding: 10px;
}

.intro {
  padding-bottom: 20px;
}

.main {
  background-color: #1A1B21;
  height: 399px;
  padding: 35px;
  overflow: hidden;
}

.portfolio {
  background-color: #5093E2;
  border: 0px;
  color: white;
  padding: 8px;
}

.portfolio > img {
  width: 13px;
}

.title {
  color: #F3BF99;
}

