.App {
  display: block;
  margin: auto;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  width: 317px;
}

.main {
  background-color: #1A1B21;
  height: 399px;
}

.buttons > button {
  width: 115px;
  height: 34px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  gap: 8px;
}

.email {
  color: #374151;
}

.footer {
  background-color: #161619;
  height: 64px;
  border-radius: 0 0 10px 10px;
}

.footer > img {
  height: 25px;
  padding: 12px;
}

.header {
  height: 317px;
}

.header > img {
  border-radius: 10px 10px 0 0;
}

.linkedin {
  background-color: #5093E2;
  color: white;
  ;
}

.title {
  color: #F3BF99;
}
